:root {
	--main-accent-color: #2196f3;
	--logo-black-color: #000000;
	--main-black-color: #212121;
	--main-white-color: #ffffff;
	--social-links-color: #afb1b8;
	--header-contacts-list-color: #757575;
	--footer-address-link-color: rgba(255, 255, 255, 0.6);
	--background-color-hero: #2f303a;
	--backgroung-color-hero-button: #2196f3;
	--background-color-our-work: #f5f4fa;
	--card-set-gap: 30px;
	--card-border: #eeeeee;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--main-black-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.link {
	text-decoration: none;
	color: inherit;
}
.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.button {
	font-family: inherit;
	cursor: pointer;
}
.header {
	border-bottom: 1px solid #ececec;
}
.header-body {
	display: flex;
	align-items: center;
}
.header-link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}
.icon-envelope,
.icon-smartphone {
	margin-right: 10px;
	fill: var(--header-contacts-list-color);
}

.header-nav {
	display: flex;
	align-items: center;
}
.header-logo {
	display: block;
	margin-right: 93px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.header-logo-web {
	color: var(--main-accent-color);
}
.header-logo-studio {
	color: var(--logo-black-color);
}
.header-nav-list {
	display: flex;
	margin-right: 305px;
}

.header-nav-list-item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list-item:not(:last-child) {
	margin-right: 50px;
}
.header-nav-list-item:hover,
.header-nav-list-item:focus {
	color: var(--main-accent-color);
}

.header-nav-list .current {
	position: relative;
	color: var(--main-accent-color);
}
.header-nav-list .current::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--main-accent-color);
}
.header-contacts-list {
	display: flex;
}

.header-contacts-list-item {
	color: var(--header-contacts-list-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-list-item:not(:last-child) {
	margin-right: 30px;
}
.header-contacts-list-item:hover,
.header-contacts-list-item:focus {
	color: var(--main-accent-color);
}
.header-contacts-list-item .icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item:hover .icon {
	fill: var(--main-accent-color);
}
.header-contacts-list-item:focus .icon {
	fill: var(--main-accent-color);
}
.hero {
	background-color: var(--background-color-hero);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/bgi-hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
}
.hero-title {
	color: var(--main-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
}
.hero-button {
	color: var(--main-white-color);
	background-color: var(--backgroung-color-hero-button);

	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	border: none;
	padding: 10px 32px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.section-title {
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.benefits-list {
	display: flex;
}
.benefits-list-item {
	width: 270px;
}
.benefits-list-item:not(:last-child) {
	margin-right: 30px;
}
.benefits-icons {
	padding: 25px 100px;
	margin-bottom: 30px;
	display: flex;
	background-color: var(--background-color-our-work);
	border-radius: 4px;
	justify-content: center;
	align-items: center;
}
.benefits-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.benefits-text {
	color: var(--header-contacts-list-color);

	line-height: 1.71;
}
.our-work {
	padding-top: 0;
}
.our-work-list {
	display: flex;
}
.our-work-list-item:not(:last-child) {
	margin-right: 30px;
}
.our-work-list-item-thumb {
	position: relative;
}
.our-work-list-item-thumb .thumb-text {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(47, 48, 58, 0.8);

	font-weight: 700;
	line-height: calc(16 / 14);
	text-align: center;
	text-transform: uppercase;
	color: var(--main-white-color);

	width: 370px;
	padding-top: 27px;
	padding-bottom: 27px;
}
.our-team {
	background-color: var(--background-color-our-work);
}
.our-team .section-title {
	margin-bottom: 50px;
}
.our-team-list {
	display: flex;
	justify-content: space-between;
}

.our-team-card {
	background-color: var(--main-white-color);

	text-align: center;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.our-team-card:not(:last-child) {
	margin-right: 30px;
}

.our-team-card-content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.our-team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	margin-bottom: 10px;
}
.our-team-text {
	color: var(--header-contacts-list-color);

	font-size: 16px;
	line-height: 1.19;

	margin-bottom: 16px;
}
.our-team .social-links-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.our-team .social-links-list-item {
	display: flex;
}
.our-team .social-links-list-item:not(:last-child) {
	margin-right: 10px;
}
.our-team .social-link {
	padding: 12px;
	width: 44px;
	height: 44px;
	fill: var(--social-links-color);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team .social-link:hover,
.our-team .social-link:focus {
	background-color: var(--main-accent-color);
}
.our-team .icon {
	fill: var(--social-links-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team .social-link:hover .icon {
	fill: var(--main-white-color);
}
.our-team .social-link:focus .icon {
	fill: var(--main-white-color);
}
.clients-list {
	display: flex;
}

.clients-list-item:not(:last-child) {
	margin-right: 30px;
}
.clients-card {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 92px;
	border: 1px solid var(--social-links-color);
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-card:hover,
.clients-card:focus {
	border: 1px solid var(--main-accent-color);
}
.clients-card:hover .icon,
.clients-card:focus .icon {
	fill: var(--main-accent-color);
}
.clients-card-icon {
	fill: var(--social-links-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
	background-color: var(--background-color-hero);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer .container {
	display: flex;
	align-items: baseline;
}
.footer-left {
	margin-right: 70px;
}
.footer-form {
	margin-left: auto;
}

.footer .social-links-list {
	display: flex;
}
.footer .social-links-list-item {
	display: flex;
}
.footer .social-link {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link:hover,
.footer .social-link:focus {
	background-color: var(--main-accent-color);
}
.footer .social-links-list-item:not(:last-child) {
	margin-right: 10px;
}
.footer .link {
	fill: var(--main-white-color);
}
.footer-logo {
	display: block;
	margin-bottom: 20px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.footer-logo-web {
	color: var(--main-accent-color);
}
.footer-logo-studio {
	color: var(--main-white-color);
}

.footer-adress-list-item {
	color: var(--main-white-color);

	font-style: normal;
	line-height: 1.71;
}
.footer-adress-list-item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-adress-list-item .link {
	color: var(--footer-address-link-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-list-item .link:hover,
.footer-adress-list-item .link:focus {
	color: var(--main-accent-color);
}
.footer-social-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--main-white-color);
	margin-bottom: 20px;
}
.footer-form-text {
	font-weight: 700;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	color: var(--main-white-color);

	margin-bottom: 20px;
}
.footer-form-email {
	width: 358px;
	padding: 15px 16px;
	margin-right: 12px;
	color: var(--footer-address-link-color);
	font-size: 16px;
	line-height: calc(20 / 16);
	background-color: inherit;

	border: 1px solid rgba(255, 255, 255, 0.3);

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}
.footer-form-email:focus {
	outline: none;
}
.footer-form-email::placeholder {
	color: var(--footer-address-link-color);
	font-size: 16px;
	line-height: calc(20 / 16);
}
.footer-form-and-button {
	display: flex;
}
.footer-form-button {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 200px;
	height: 50px;

	background-color: var(--main-accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
}
.footer-form-button-text {
	color: var(--main-white-color);

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;

	margin-right: 12px;
}
.footer-form-button .icon {
	display: block;
	padding: 0;
	margin: 0;
	width: 24px;
	height: 24px;
}
/* Portfolio */

.portfolio-button-list {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}
.portfolio-button-list-item:not(:last-child) {
	margin-right: 8px;
}
.portfolio-button-list-item-button {
	background-color: var(--background-color-our-work);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	padding: 6px 22px;
	border-radius: 4px;
	border-color: transparent;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-list-item-button:hover,
.portfolio-button-list-item-button:focus {
	background-color: var(--main-accent-color);
	color: var(--main-white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(-1 * var(--card-set-gap));
	margin-bottom: calc(-1 * var(--card-set-gap));
}
.portfolio-card-list-item {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	margin-right: var(--card-set-gap);
	margin-bottom: var(--card-set-gap);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-list-item:hover,
.portfolio-card-list-item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-list-item .card-thumb {
	position: relative;
	overflow: hidden;
}
.portfolio-card-list-item .card-overlay {
	position: absolute;
	bottom: -100%;
	left: 0;

	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 370px;
	height: 294px;

	background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-card-list-item .link .card-overlay {
	transform: translateY(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-list-item .link:hover .card-overlay {
	transform: translateY(-100%);
}
.portfolio-card-list-item .card-overlay-text {
	font-size: 18px;
	line-height: calc(28 / 18);
	color: var(--main-white-color);
}
.portfolio-card-list-content {
	padding: 20px 24px;
	border-bottom: var(--card-border) solid 1px;
	border-left: var(--card-border) solid 1px;
	border-right: var(--card-border) solid 1px;
}
.porfolio-card-list-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.porfolio-card-list-text {
	color: var(--header-contacts-list-color);

	font-size: 16px;
	line-height: 1.87;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.8);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	padding: 40px;

	background-color: var(--main-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .button-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	padding: 0;
	background-color: inherit;
	border: none;
	box-shadow: none;

	outline: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .button-close:hover,
.modal .button-close:focus {
	fill: var(--main-accent-color);
}

.modal-form-title {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	color: var(--main-black-color);

	margin-bottom: 12px;
}
.modal-label {
	display: block;
	margin-bottom: 10px;
}

.modal-label-input {
	position: relative;
}
.modal-label p {
	color: var(--header-contacts-list-color);
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	margin-bottom: 4px;
}
.comment::placeholder {
	color: rgba(117, 117, 117, 0.5);
}
.modal-label input {
	height: 40px;
}
.modal-label input,
.modal-label textarea {
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 16px 12px 16px 42px;
	outline: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label input:focus,
.modal-label textarea:focus {
	border: 1px solid var(--main-accent-color);
}
.modal-label input + .icon,
.modal-label textarea + .icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label input:focus + .icon,
.modal-label textarea:focus + .icon {
	fill: var(--main-accent-color);
}
.modal-label .comment {
	height: 120px;
	padding: 16px 12px 16px 12px;
}
.modal-label textarea {
	resize: none;
}
.modal-policy {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.modal-policy p {
	line-height: calc(24 / 14);
	color: var(--header-contacts-list-color);
}
.policy-link {
	text-decoration: underline;
	color: var(--main-accent-color);
}

.modal-label .icon {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);
}

.button-submit {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: var(--main-accent-color);

	color: var(--main-white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
}
.checkbox-policy {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.checkbox-policy + .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8.38px;
	border: 1px solid var(--main-black-color);
	border-radius: 4px;
	fill: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-policy:checked + .icon {
	background-color: var(--main-accent-color);
	border: none;
	fill: var(--main-white-color);
}
